#TabsToolbar {
  visibility: collapse;
}

#sidebar-box #sidebar-header {
  display: none !important;
}

#sidebar-box #sidebar-splitter {
  display: none !important;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
  --theme-colors-tab_background_text: rgb(195, 199, 209);
  --uc-sidebar-width: 42px !important;
  position: sticky;
  min-width: var(--uc-sidebar-width) !important;
}

video::-webkit-media-controls-panel {
  display: flex !important;
  opacity: 1 !important;
}

/*-Tree Style Tab-*/
/*
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
  --uc-sidebar-width: 42px !important;
  --uc-sidebar-hover-width: 200px;
  --uc-autohide-sidebar-delay: 100ms;
  position: sticky;
  min-width: var(--uc-sidebar-width) !important;
  width: var(--uc-sidebar-width) !important;
  max-width: var(--uc-sidebar-hover-width) !important;
  z-index: 1;
}
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]>#sidebar-splitter {
  display: none
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]>#sidebar {
  transition: min-width 115ms linear var(--uc-autohide-sidebar-delay) !important;
  min-width: var(--uc-sidebar-width) !important;
  will-change: min-width !important;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover>#sidebar {
  min-width: var(--uc-sidebar-hover-width) !important;
  transition-delay: 0ms !important
}
*/





/*
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]
#sidebar-header {
  display: none;
}
*/


/* Move Find Bar above the page*/
/*
.browserContainer > findbar {
  -moz-box-ordinal-group: 0;
}*/

/* Move Find Bar above the page*/
.browserContainer>findbar {
  display: flex;
  order: -1;
}


/* Sidebery */
#main-window[titlepreface*=" "] .tabbrowser-tab {
  visibility: collapse !important;
}

#main-window[titlepreface*=" "] .titlebar-button {
  height: 40px !important;
}

#main-window[titlepreface*=" "] #nav-bar {
  margin-top: -40px;
  margin-right: 137px;
  box-shadow: none !important;
}

#main-window[titlepreface*=" "] #titlebar-spacer {
  background-color: var(--chrome-secondary-background-color);
}

#main-window[titlepreface*=" "] #titlebar-buttonbox-container {
  background-color: var(--chrome-secondary-background-color);
}

#main-window[titlepreface*=" "] .titlebar-color {
  background-color: var(--toolbar-bgcolor);
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] #sidebar-header {
  visibility: collapse;
}

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/autohide_sidebar.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Show sidebar only when the cursor is over it  */
/* The border controlling sidebar width will be removed so you'll need to modify these values to change width */

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] {
  --uc-sidebar-width: 48px !important;
  --uc-sidebar-hover-width: 250px;
  --uc-autohide-sidebar-delay: 100ms;
  /* Wait 0.1s before hiding sidebar */
  position: relative;
  min-width: var(--uc-sidebar-width) !important;
  width: var(--uc-sidebar-width) !important;
  max-width: var(--uc-sidebar-width) !important;
  z-index: 1;
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]>#sidebar-splitter {
  display: none
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]>#sidebar {
  transition: min-width 115ms linear var(--uc-autohide-sidebar-delay) !important;
  min-width: var(--uc-sidebar-width) !important;
  will-change: min-width;
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:hover>#sidebar {
  min-width: var(--uc-sidebar-hover-width) !important;
  transition-delay: 0ms !important
}

/* Add sidebar divider and give it background */

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]>#sidebar,
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]>#sidebar-header {
  background-color: var(--toolbar-bgcolor) !important;
  /*  border-inline: 1px solid var(--sidebar-border-color) !important;*/
  border-inline: 0px solid var(--chrome-content-separator-color) !important;
  border-inline-width: 0px 0px;
}

#sidebar-box[positionend] {
  direction: rtl
}

#sidebar-box[positionend]>* {
  direction: ltr
}

#sidebar-box[positionend]:-moz-locale-dir(rtl) {
  direction: ltr
}

#sidebar-box[positionend]:-moz-locale-dir(rtl)>* {
  direction: rtl
}